<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdjc.report.mapper.report.ReportPicMapper">	

 	<resultMap type="com.zdjc.report.model.ReportPic" id="ReportPicMap">
 		<result column="projectId" property="projectId"/>
 		<result column="path" property="path"/>	
 	</resultMap>
  
  <insert id="insertPic"  parameterType="com.zdjc.report.model.ReportPic">
  
  	  insert into report_pic (path,projectId ,report_typ) values
   			   
    	(#{path},#{projectId},#{reportTyp})   
  
  </insert>


	<select id="selectPicById"  resultMap="ReportPicMap">
	
		select * from report_pic where projectId=#{projectId}  and report_typ=#{reportTyp}
	
	</select>
	
	<select id="selectPic"  resultMap="ReportPicMap">
	
		select * from report_pic
	
	</select>
  
</mapper>